fastapi
uvicorn
requests
python-dotenv
groq
chromadb
transformers
peft
trl
torch
sqlalchemy
psycopg2-binary
fastapi-users[sqlalchemy]
python-jose[cryptography]
passlib[bcrypt]
datasets
diskcache
accelerate
bitsandbytes
